@charset "utf-8";
/* CSS Document */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*給Popwindow的部分*/
.bg_black{
    justify-content: center;
    align-items: center;
}

.notice_BG{
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
}

.notice_body p{
    font-size: 16px;
}

.notice_body_input_layout input[type=text]{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.notice_body p.hint{
    font-size: 14px;
}




/*=============會員專區==============*/

/*新簡目頁樣式修正完後可移除*/
.Right_content {
    float: right;
}
/*新簡目頁樣式修正完後可移除*/

.member .TagALL_Buy {
    background-image: none;
    border: none;
    background-color: #F0F0F0;
}

.member_FooterALL {
    clear: both;
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    background-color: #252525;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    margin-bottom: 77px;
}

.member_FooterALL > .Footer_position{
    width:1160px;
}

.content_layout{
    width: 100%;
    background-color: #fff;
}

.member_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.member_form{
    width: 100%;
    box-sizing: border-box;
    padding:0 32px; 
    margin: 0 auto;
    margin-bottom: 60px;
}

.member_form .large_title{
    font-size: 24px;
    color: #555;
    text-align: left;
    font-weight: bold;
    margin-top: 32px;
}

.member_form .large_title:before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 20px;
    background-color: #555;
    margin-right: 10px;
}

.member_form .row{
    margin-top: 20px;
}

.member_form .row .title{
    font-size: 18px;
    line-height: 27px;
    color: #666;
}

.member_form .row .title span{
    color: #c20012;
}

.member_form .row .text{
    margin-top: 16px;
    font-size: 18px;
}

.member_form .row input[type=text], .member_form .row input[type=password], .member_form .row input[type=date]{
    width: 100%;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #666;
    margin-top: 4px;
}

.member_form .row .forgot_password{
    display: block;
    color: #999;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 8px;
    text-align: right;
}

.member_form .row .small_text{
    color: #999;
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
}

.member_form .btn_row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.member_form .btn_login{ 
    width: 175px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    background-color: #939334;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

.member_form .btn_cancel{ 
    width: 175px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    background-color: #999999;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

.member_form .member_signup{
    margin-top: 10px;
    font-size: 18px;
    color: #999;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.member_form .row .checkbox_layout{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.member_form .row .checkbox_layout .option_check{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    cursor: pointer;
}

.member_form .row .checkbox_layout .option_check .icon_check{
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member_form .row .checkbox_layout .option_check .icon_check.active:after{
    content: '✓';
    display: block;
    color: #939334;
    font-size: 1rem;
    font-weight: bold;
}

.member_form .row .checkbox_layout .checkbox_text{
    width: calc(100% - 40px);
    font-size: 18px;
    line-height: 27px;
    color: #666666;
    margin-top: 8px;
}

.member_form .row .checkbox_layout .checkbox_text a{
    color: #666;
    text-decoration: underline;
}

@media screen and (min-width: 740px){
    .member_login{
        min-height: 400px;
        height: calc(100vh - 60px - 40px);
        margin-top: -150px;
    }

    .member_form{
        width: 500px;
    }
}

@media screen and (min-width: 1200px){
    .member_form{
        margin-bottom: 97px;
    }
}


.member .content{
    width: 1280px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 137px;
    position: relative;
}

.member .content.membercwc_cart{
    padding-bottom: 0;
}

@media screen and (min-width: 768px){
    .member .content.membercwc_cart{
        padding-bottom: 137px;
    }
}
.content .label_box{
    width: 100%;
    height: 45px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    position: relative;
}

.content .label_box:before{
    content: '';
    width: 5px;
    height: 45px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -5px;
}

.content .label_box:after{
    content: '';
    width: 5px;
    height: 45px;
    background-color: #fff;
    display: block;
    position: absolute;
    right: -5px;
}

.content .label_box .one_label{
    height: 45px;
    padding: 0 32px;
    background-color: #fff;
    color: #999999;
    font-size: 20px;
    line-height: 45px;
    cursor: pointer;
    transition: background-color 0.3s,color 0.3s;
}

.content .label_box .one_label:hover{
    color: #333;
}

.content .label_box .one_label.active{
    background-color: #9f999d;
    color: #fff;
}

.member_orderprogress .content_LL{
    width: 278px;
    float: left;
}

.member_orderprogress .content_RR{
    width: 970px;
    float: right;
}

.memberinfo .content_LL{
    width: 970px;
    float: left;
}

.memberinfo .content_RR{
    width: 278px;
    float: right;
}

.order_condition_row{
    width: 100%;
    margin-top: 20px;
}

.order_condition_row:first-child{
    margin-top: 0;
}

.order_condition_row .title{
    font-size: 16px;
    color: #9c9c9c;
}

.order_condition_row .dropdown select{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #cccccc; 
    color: #666;
    font-size: 18px;
    line-height: 45px;
    background-color: #fff;
    outline: none;
    margin-top: 8px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.order_condition_row .dropdown{
    position: relative;
}

.order_condition_row .dropdown:after{
    content:'';
    width: 5px;
    height: 5px;
    border-bottom: 3px solid #666;
    border-right: 3px solid #666;
    position: absolute;
    right: 15px;
    top: 24px;
    background-color: transparent;
    transform: rotate(45deg);
    display: block;
}

.order_condition_row select.dropdown option{
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #666;
}

.order_condition_row input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #cccccc; 
    color: #666;
    font-size: 18px;
    line-height: 45px;
    background-color: #fff;
    outline: none;
    margin-top: 8px;
}

.order_condition_row .text{
    width: 100%;
    font-size: 16px;
    color: #666;
    text-align: center;
    margin: 5px 0;
    margin-bottom: 3px;
}

.order_condition_row  .submitbtn{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #939334;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    margin-top: 32px;
    font-weight: bold;
}

.order_progress_list{
    width: 100%;
    margin-top: 26px;
}

.order_progress_list tr:hover{
    cursor: pointer;
}

.order_progress_list tr:hover td{
    background-color: #f7f7f7;
}

.order_progress_list th{
    height: 45px;
    font-size: 18px;
    color: #999999;
    text-align: center;
    background-color: #f3f4f5;
}

.order_progress_list td{
    height: 60px;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    font-size: 18px;
    color: #666666;
    text-align: center;
}

.order_progress_list tr:last-child td{
    border-bottom: none;
}

.order_progress_list td.order_number{
    
}

.order_progress_list td.order_type.normal{
    color: #4d4d4d;
    font-weight: bold;
}

.order_progress_list td.order_type.fast{
    color: #ef9c00;
    font-weight: bold;
}

.order_progress_list td.order_type.preorder{
    color: #0071bc;
    font-weight: bold;
}

.order_progress_list td.order_status.done,.order_progress_list td.order_status.cancel{
    color: #b3b3b3;
}

.order_progress_list td.order_status.collecting,.order_progress_list td.order_status.deliverying{
    font-weight: bold;
}

.order_progress_list td.order_sum{
    text-align: right;
    padding-right: 57px;
}

.nodata_text{
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    color: #999;
    margin-top: 16px;
}

.nodata_text strong{
    font-weight: bold;
}

.nodata_img{
    width: 100%;
    display: block;
    margin-top: 24px;
}

.nodata_img img{
    display: block;
    width: 450px;
    height: auto;
    margin: 0 auto;
}

.orderprogress_detail_status{
    width: 150px;
    float: left;
    margin-left: 16px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderprogress_detail_status .one_stauts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderprogress_detail_status .one_stauts .icon_bg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cccccc;
    margin-left: 10px;
    position: relative;
}

.orderprogress_detail_status .one_stauts.active .icon_bg{
    background-color: #8e6681;
} 

.orderprogress_detail_status .one_stauts .icon_bg .icon{
    width: 55%;
    height: 55%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.orderprogress_detail_status .one_stauts.active .icon_bg .icon{
    background-position: center bottom;
} 

.orderprogress_detail_status .one_stauts .text_box{
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

.orderprogress_detail_status .one_stauts .text_box .large_text{
    font-size: 20px;
    color: #666;
}

.orderprogress_detail_status .one_stauts .text_box .small_text{
    font-size: 16px;
    color: #666;
    margin-top: 5px;
    line-height: 23px;
}

.orderprogress_detail_status .one_stauts .text_box .small_text .finished{
    color: #999;
}

.orderprogress_detail_status .dottedline{
    width: 3px;
    height: 30px;
    box-sizing: border-box;
    border-right: 3px dotted #cccccc;
    margin: 8px 0;
    margin-left: 12px;
}

.orderprogress_detail_winelist{
    width: 650px;
    float: left;
    margin-left: 49px;
}

.orderprogress_detail_winelist .one_type{
    width: 100%;
    margin-top: 32px;
}

.orderprogress_detail_winelist .one_type:first-child{
    margin-top: 16px;
}

.orderprogress_detail_winelist .one_type .btn_extend_detail{
    text-align: right;
    padding-right: 25px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.orderprogress_detail_winelist .one_type .btn_extend_detail .icon_extend{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #999999;
    margin-left: 2px;
    text-align: center;
    font-size: 9px;
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 5px;
}

.orderprogress_detail_winelist .one_type .btn_extend_detail .icon_extend:before{
    width: 9px;
    height: 1px;
    background-color: #999;
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    top: 7px;
}

.orderprogress_detail_winelist .one_type .btn_extend_detail .icon_extend:after{
    width: 9px;
    height: 1px;
    background-color: #999;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(90deg);
    left: 3px;
    top: 7px;
}

.orderprogress_detail_winelist .one_type .btn_extend_detail .icon_close:after{
    width: 9px;
    height: 1px;
    background-color: #999;
    content: '';
    display: none;
    position: absolute;
    transform: rotate(90deg);
    left: 3px;
    top: 7px;
}

.orderprogress_detail_winelist .one_type table.list_detail_extend{
    width: 100%;
    display: none;
}

.orderprogress_detail_winelist .one_type table.list_detail_extend td{
    min-height: 40px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
}

.orderprogress_detail_winelist .one_type table.list_detail_extend tr:last-child td{
    border-bottom: none;
}

.orderprogress_detail_winelist .one_type table.list_detail_extend td .wine_nameCN {
    line-height: 21px;
    padding: 10px;
    padding-bottom: 5px;
}

.orderprogress_detail_winelist .one_type table.list_detail_extend td .wine_nameEN {
    line-height: 20px;
    font-size: 16px;
    color: #999;
    padding: 0 10px;
    padding-bottom: 10px;
}


.orderprogress_detail_winelist .one_type table.list_detail{
    width: 100%;
}

.orderprogress_detail_winelist .one_type table.list_detail th{
    background-color: #ebebeb;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 25px;
    padding-left: 25px;
    color: #666666;
    text-align: center;
    height: 40px;
}

.orderprogress_detail_winelist .one_type table.list_detail .delivery_status{
    min-height: 40px;
    padding: 10px 16px;
    background-color: #e0e0e0;
    color: #666;
}

.orderprogress_detail_winelist .one_type table.list_detail .delivery_status span{
    width: calc(50% - 16px);
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.orderprogress_detail_winelist .one_type table.list_detail .delivery_status a{
    color: #296993;
    display: inline-block;
    text-decoration: underline;
}

.orderprogress_detail_winelist .one_type table.list_detail td{
    min-height: 40px;
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
}

.orderprogress_detail_winelist .one_type table.list_detail tr:last-child td{
    border-bottom: none;
}

.orderprogress_detail_winelist .one_type table.list_detail td .wine_nameCN {
    line-height: 21px;
    padding: 10px;
    padding-bottom: 5px;
}

.orderprogress_detail_winelist .one_type table.list_detail td .wine_nameEN {
    line-height: 20px;
    font-size: 16px;
    color: #999;
    padding: 0 10px;
    padding-bottom: 10px;
}

.orderprogress_detail_winelist .one_type table.list_detail td .preorder_date {
    line-height: 20px;
    font-size: 16px;
    color: #999;
    padding: 0 10px;
    padding-bottom: 10px;
}

.orderprogress_detail_info{
    width: calc(100% - 120px - 650px - 64px - 64px - 32px);
    margin-left: 49px;
    margin-right: 16px;
    float: right;
}

.orderprogress_detail_info .order_number{
    width: 100%;
    margin-top: 16px;
    font-size: 22px;
}

.orderprogress_detail_info .order_number .number{
    color: #8e6681;
    font-weight: bold;
    float: left;
}

.orderprogress_detail_info .order_number .sum{
    color: #666666;
    float: right;
}

.orderprogress_detail_info .delivery_info{
    width: 100%;
    margin-top: 16px;
}

.orderprogress_detail_info .delivery_info .title, .orderprogress_detail_info .invoice_info .title{
    font-size: 18px;
    color: #999;
}

.orderprogress_detail_info .delivery_info .title + .row, .orderprogress_detail_info .invoice_info .title + .row{
    margin-top: 10px;
}

.orderprogress_detail_info .delivery_info .row, .orderprogress_detail_info .invoice_info .row{
    font-size: 18px;
    line-height: 23px;
    color: #666;
    margin-top: 5px;
}

.orderprogress_detail_info .invoice_info{
    width: 100%;
    margin-top: 24px;
}

.orderprogress_detail_info .btn_editorder{
    width: 200px;
    height: 45px;
    font-size: 18px;
    background-color: #9b9b9b;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
    margin-top: 24px;
}

.memberinfo .one_title{
    width: 100%;
    box-sizing: border-box;
    padding-left: 75px;
    border-bottom: 10px solid #f3f4f5;
}

.memberinfo .one_title .title{
    font-size: 24px;
    font-weight: bold;
    color: #848484;
    position: relative;
}

.memberinfo .one_title:not(:first-child){
    margin-top: 52px;
}

.memberinfo .one_title .bonus:before{
    content: '';
    width: 53px;
    height: 53px;
    left: -64px;
    top: -17px;
    display: block;
    position: absolute;
    background-image: url(../images/Icon_Pig_2.png);
}

.memberinfo .one_title .coupon:before{
    content: '';
    width: 53px;
    height: 53px;
    left: -64px;
    top: -17px;
    display: block;
    position: absolute;
    background-image: url(../images/Icon_Money_2.png);
}

.memberinfo .one_block{
    width: 100%;
    margin-top: 24px;
    padding: 0 16px;
    box-sizing: border-box;
}

.memberinfo .text.one_point{
    position: relative;
    padding-left: 24px;
    margin-top: 10px;
    box-sizing: border-box;
}

.memberinfo .text.one_point:nth-child(2){
    margin-top: 16px;
}

.memberinfo .text.one_point:before{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #666;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 9px;
    left: 7px;
}

.memberinfo .rule_box{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f3f4f5;
    border-radius: 5px;
    margin-top: 24px;
}

.memberinfo .rule_box .rule_title{
    font-size: 22px;
    font-weight: bold;
    color: #666;
}

.memberinfo .rule_box .rule_row{
    font-size: 18px;
    padding-left: 36px;
    box-sizing: border-box;
    color: #666;
    line-height: 27px;
    position: relative;
    margin-top: 10px;
}

.memberinfo .rule_box .rule_row span{
    display: block;
    width: 16px;
    height: 16px;
    background-color: #878787;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    left: 12px;
    top: 4px;
}

.memberinfo .coupon_table{
    width: 100%;
    margin-top: 24px;
}

.memberinfo .coupon_table th{
    height: 45px;
    background-color: #d7d4cb;
    font-size: 18px;
    text-align: center;
    color: #666;
}

.memberinfo .coupon_table td{
    height: 45px;
    background-color: #f3f1ec;
    font-size: 18px;
    text-align: center;
    color: #666;
    border-right: 1px solid #d0ccc3;
    border-bottom: 1px solid #d0ccc3;
}

.memberinfo .coupon_table td:last-child{
    border-right: none;
}

.memberinfo .coupon_table tr:last-child td{
    border-bottom: none;
}

.memberinfo .coupon_table td span{
    color: #296993;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.memberinfo .coupon_table td span:before{
    content: '[';
    font-size: 14px;
    color: #296993;
    display: inline-block;
    margin-right: 2px;
}

.memberinfo .coupon_table td span:after{
    content: ']';
    font-size: 14px;
    color: #296993;
    display: inline-block;
    margin-left: 2px;
}

.memberinfo .btn_editinfo{
    width: calc(100% - 32px);
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #939334;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
}

.memberinfo .text{
    font-size: 18px;
    line-height: 27px;
    color: #666;
}

.memberinfo .text span{
    margin: 0 5px;
    color: #c29c20;
    font-weight: bold;
}

.memberinfo .amount_text{
    margin-top: 24px;
}

.memberinfo .amount_condition{
    padding-left: 24px;
    box-sizing: border-box;
    position: relative;
    margin-top: 16px;
}

.memberinfo .amount_condition:before{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    top: 9px;
    display: block;
}

.memberinfo .amount_notice{
    font-size: 16px;
    line-height: 21px;
    padding-left: 24px;
    box-sizing: border-box;
    color: #999;
    margin-top: 24px;
}

.memberinfo .btn_member_rating{
    width: 130px;
    height: 132px;
    background-image: url(../images/MemberInformationIcon.png);
    cursor: pointer;
    margin: 0 auto;
    margin-top: 24px;
}

.form_editmemberinfo{
    width: 450px;
    margin: 0 auto;
    margin-bottom: 36px;
}

.member .Left_Menu_layout{
    margin-left: 0;
}

.member .Right_content{
    width: calc(100% - 280px - 16px);
    margin-left: 16px;
}

.membercwc_list .Right_content,.membercwc_list .Left_Menu_layout {
    margin-top: 60px;
}

.member .Center_content{
    width: 100%;
    position: relative;
}

.member .fliter_box_position{
    width: 280px;
    position: absolute;
    /*padding-top: 40px;*/
    background-color: #fff;
    display: none;
}

.member .fliter_box_position.active{
    display: block;
}

.member .fliter_box{
    width: 280px;
    height: 580px;
    /*height: 540px;*/
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    z-index: 5;
}

/*.member .fliter_box_position .btn_close{
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 6;
}

.member .fliter_box_position .btn_close:before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 9;
    top: 14px;
    left: 5px;
}

.member .fliter_box_position .btn_close:after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 2px;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 9;
    top: 14px;
    left: 5px;
}*/

.cwc_option_row{
    position: absolute;
    z-index: 5;
}

.membercwc_list .cwc_option_row{
    top: 80px;
}

.cwc_option_row .one_option{
    height: 45px;
    padding: 0 16px;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #fff;
    color: #acacac;
    font-size: 18px;
    line-height: 45px;
    float: left;
    position: relative;
    margin-left: 10px;
}

.cwc_option_row .one_option:hover{
    color: #666;
    border-color: #666;
}

.cwc_option_row .one_option#Btn_Filter.active{
    color: #666;
    border-color: #666;
}

.cwc_option_row .one_option#Btn_Filter.active .icon_filter{
    background-position: center bottom;
}

.cwc_option_row .one_option .icon_filter{
    display: inline-block;
    width: 24px;
    height: 17px;
    background-image: url(../images/icon/icon_cwc_filter.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    top: 2px;
}

.cwc_option_row .one_option:hover .icon_filter{
    background-position: center bottom;
}

.cwc_option_row .one_option .icon_export{
    width: 23px;
    height: 21px;
    background-image: url(../images/icon/icon_cwc_export.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    top: 1px;
}

.cwc_option_row .one_option:hover .icon_export{
    background-position: center bottom;
}

.membercwc .slide_show{
    width: 100%;
    height: 580px;
    position: relative;
}

.membercwc .slide_show .btn_prev{
    width: 24px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 240px;
    cursor: pointer;
}

.membercwc .slide_show .btn_prev:before{
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background-color: #666;
    transform: rotate(-60deg);
    position: absolute;
    top: 24px;
    left: -12px;
}

.membercwc .slide_show .btn_prev:after{
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background-color: #666;
    transform: rotate(60deg);
    position: absolute;
    top: 66px;
    left: -12px;
}

.membercwc .slide_show .btn_next{
    width: 24px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 240px;
    cursor: pointer;
}

.membercwc .slide_show .btn_next:before{
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background-color: #666;
    transform: rotate(60deg);
    position: absolute;
    top: 24px;
    left: -12px;
}

.membercwc .slide_show .btn_next:after{
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background-color: #666;
    transform: rotate(-60deg);
    position: absolute;
    top: 66px;
    left: -12px;
}

.membercwc .slide_box{
    position: relative;
    width: 90%;
    height: 580px;
    overflow: hidden;
    margin: 0 auto;
}

.membercwc .slide_box .animate_slide{
    min-width: 100%;
    position: absolute;
    height: 580px;
    left: 0;
    top: 0;
    transition: left 0.5s,right 0.5s;
}

.membercwc .slide_box .animate_slide .one_bottle_img{
    width: calc(1152px/7);
    height: 580px;
    background-size: 180%;
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
    position: relative;
}

.membercwc .slide_box .animate_slide .one_bottle_img img{
    width: 180%;
    height: auto;
    margin-left: -40%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.membercwc .slide_box .animate_slide .one_bottle_img.large img{
    width: 220%;
    margin-left: -60%;
}

.membercwc .slide_box .animate_slide .one_bottle_img.small img{
    width: 150%;
    margin-left: -25%;
}


.membercwc .slide_box .animate_slide .one_bottle_img:nth-child(7n){
    margin-right: 0;
}

.membercwc .slide_box .animate_slide .one_bottle_img .more_years_box{
    width: 114px;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: bottom 0.5s,opacity 0.3s;
}

.membercwc .slide_box .animate_slide .one_bottle_img:hover .more_years_box{
    bottom: 0;
    opacity: 1;
}

.membercwc .slide_box .animate_slide .one_bottle_img .more_years_box .one_year{
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
}

.membercwc .slide_box .animate_slide .one_bottle_img .more_years_box .one_year:first-child{
    margin-top: 0;
}

.membercwc .slide_box .animate_slide .one_bottle_img .more_years_box .one_year a{
    color: #666;
    font-size: 16px;
    display: block;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-weight: normal;
}

.membercwc .slide_box .animate_slide .one_bottle_img .more_years_box .one_year .icon_delivery{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #904d06;
    border-radius: 50%;
    position: relative;
    top: 4px;
    margin-left: 4px;
    background-image: url(../images/icon/icon_cwc_delivery.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.CWC_bottledetail_bottleimg{
    float: left;
    width: 280px;
    height: 645px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.CWC_bottledetail_infobox{
    float: right;
    width: calc(100% - 280px - 32px);
    margin-left: 16px;
    margin-right: 16px;
}

.CWC_bottledetail_infobox .winenameCN{
    font-size: 24px;
    line-height: 36px;
    color: #100a04;
}

.CWC_bottledetail_infobox .winenameEN{
    font-size: 24px;
    line-height: 36px;
    color: #100a04;
}

.CWC_bottledetail_infobox .label_box{
    width: 100%;
    margin-top: 16px;
}

.CWC_bottledetail_infobox .label_box .one_label{
    width: calc((100% - 30px)/7);
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #cccccc;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.CWC_bottledetail_infobox .label_box .one_label:last-child{
    margin-right: 0;
}

.CWC_bottledetail_infobox .label_box .one_label:nth-child(7n){
    margin-right: 0;
}

.CWC_bottledetail_infobox .label_box .one_label.active{
    background-color: #8e6681;
    border-color: #8e6681;
    color: #fff;
}

.CWC_bottledetail_infobox .title{
    font-size: 18px;
    color: #666;
    font-weight: bold;
    margin-top: 32px;
}

.CWC_bottledetail_infobox .title span{
    width: 1px;
    height: 14px;
    display: inline-block;
    background-color: #999;
    margin: 0 10px;
    position: relative;
    top: 0px;
}

.CWC_bottledetail_infobox .bottle_count{
    width: 100%;
    margin-top: 20px;
}

.CWC_bottledetail_infobox .bottle_count .icon_bottle{
    float: left;
    width: 10px;
    height: auto;
}

.CWC_bottledetail_infobox .bottle_count .numbertext{
    font-size: 28px;
    color: #666666;
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    font-weight: bold;
}

.CWC_bottledetail_infobox .bottle_count .btn_addcart{
    /*width: 65px;*/
    padding: 0 10px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #904d06;
    float: left;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.CWC_bottledetail_infobox .bottle_count .count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    margin-top: 2px;
    margin-left: 16px;
    display: none;
}

.CWC_bottledetail_infobox .bottle_count .count .icon_minus {
    width: 35px;
    height: 35px;
    border: 1px solid #cccccc;
    background-color: #e5e5e5;
    margin-right: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.CWC_bottledetail_infobox .bottle_count .count .icon_minus:after {
    content: '';
    width: 13px;
    height: 3px;
    background-color: #666666;
    display: block;
    position: absolute;
    top: calc((100% - 3px)/2);
    left: calc((100% - 13px)/2);
}

.CWC_bottledetail_infobox .bottle_count .count .bottle_number {
    width: 80px;
    height: 35px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    line-height: 35px;
    color: #666;
    outline: none;
    text-align: center;
}

.CWC_bottledetail_infobox .bottle_count .count .icon_plus {
    width: 35px;
    height: 35px;
    border: 1px solid #cccccc;
    background-color: #e5e5e5;
    margin-left: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.CWC_bottledetail_infobox .bottle_count .count .icon_plus:before {
    content: '';
    width: 3px;
    height: 13px;
    background-color: #666666;
    display: block;
    position: absolute;
    top: calc((100% - 13px)/2);
    left: calc((100% - 3px)/2);
}

.CWC_bottledetail_infobox .bottle_count .count .icon_plus:after {
    content: '';
    width: 13px;
    height: 3px;
    background-color: #666666;
    display: block;
    position: absolute;
    top: calc((100% - 3px)/2);
    left: calc((100% - 13px)/2);
}

.CWC_bottledetail_infobox .bottle_count .count .btn_getwine_comfirm{
    height: 35px;
    line-height: 35px;
    background-color: #939334;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.CWC_bottledetail_infobox .info_table{
    width: 100%;
    margin-top: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    overflow: hidden;
}

.CWC_bottledetail_infobox .info_table tr:nth-child(odd){
    background-color: #fff;
}

.CWC_bottledetail_infobox .info_table tr:nth-child(even){
    background-color: #fafafa;
}

.CWC_bottledetail_infobox .info_table td{
    padding: 12px 16px;
    font-size: 18px;
    color: #666;
}

.CWC_bottledetail_infobox .info_table td:first-child{
    text-align: right;
    font-weight: bold;
}


.CWC_bottledetail_infobox .info_table td .red{
    color: #d30a0a;
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
}

.CWC_bottledetail_infobox .info_table td .green{
    color: #0b7b62;
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
}

.CWC_bottledetail_infobox .info_table td .icon_arrow{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    position: relative;
    top: 1px;
    margin: 0 2px;
}

.CWC_bottledetail_infobox .info_table td .red .icon_arrow{
    background-image: url(../images/icon/icon_cwcbottleprice_arrow_red.png);
}

.CWC_bottledetail_infobox .info_table td .green .icon_arrow{
    background-image: url(../images/icon/icon_cwcbottleprice_arrow_green.png);
    transform: rotate(45deg);
}

.member_FooterALL{
    display: none;
}

.member .membercwc_cart{
    width: 100%;
}

.member .membercwc_cart .label_box:before,.member .membercwc_cart .label_box:after{
    display: none;
}

.member .membercwc_cart .label_box .one_label{
    padding: 0 8px;
    font-size: 16px;
}

.member .membercwc_cart .step3_processbar .textbox .text{
    width: 64px;
}

.member .membercwc_cart .step3_processbar .textbox .text:first-child{
    margin-left: -4px;
}

.member .membercwc_cart .step3_processbar .gray_line .gray_dot.active{
    border-color: #904d06;
}

.member .membercwc_cart .step_option{
    margin-top: 10px;
    justify-content: space-between;
}

.member .membercwc_cart .step_option .bottlecount_note{
    font-size: 16px;
    color: #666;
    margin-top: 28px;
    padding-bottom: 8px;
}

.member .membercwc_cart .step_option .bottlecount_note .number{
    display: inline-block;
    margin: 0 8px;
    font-weight: bold;
    color: #c29c20;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info{
    margin-left: 40px;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .nameCN{
    font-size: 16px;
    color: #000;
    line-height: 21px;
    cursor: pointer;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .nameEN{
    font-size: 16px;
    color: #666;
    line-height: 21px;
    margin-top: 4px;
    cursor: pointer;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .otherinfo{
    font-size: 16px;
    color: #666;
    line-height: 21px;
    margin-top: 4px;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .otherinfo span{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #999;
    position: relative;
    top: 2px;
    margin:0 8px;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .priceavg{
    width: 100%;
    color: #666;
    font-size: 16px;
    margin-top: 10px;
}

.member .membercwc_cart .cart_list_OneBottle .wine_info .priceavg .icon_info{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 9px;
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: 6px;
    position: relative;
    top: -2px;
}

.member .membercwc_cart .cart_list_OneBottle .count_price .price .text{
    color: #666;
}

.member .membercwc_cart .cart_list_OneBottle .count_price .price .text span{
    margin: 0 6px;
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .member_FooterALL{
        display: block;
    }

    .member .membercwc_cart{
        margin-top: 40px;
        max-width: 1280px;
    }

    .member .membercwc_cart .label_box:before,.member .membercwc_cart .label_box:after{
        display: block;
    }

    .member .membercwc_cart .label_box .one_label {
        padding: 0 32px;
        font-size: 20px;
    }

    .member .membercwc_cart .step3_processbar .textbox .text:first-child{
        margin-left: 0px;
    }

    .member .membercwc_cart .step_option{
        width: 650px;
        margin: 0 auto;
        border-bottom: 1px solid #cccccc;
    }

    .member .membercwc_cart .step_option .options{
        width: auto;
        border: none;
        margin-left: 0;
        padding: 0;
        flex-direction: row;
        margin-left: -16px;
    }

    .member .membercwc_cart .step_option .options .one_option:last-child{
        margin-left: 16px;
    }

    .member .membercwc_cart .cart_list_layout{
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .member .membercwc_cart .cart_list_OneBottle .wine_info{
        margin-left: 0;
        width: 60%;
    }

    .member .membercwc_cart .cart_list_OneBottle .wine_info .nameCN{
        font-size: 18px;
    }

    .member .membercwc_cart .cart_list_OneBottle .wine_info .nameEN{
        font-size: 18px;
        margin-top: 8px;
    }

    .member .membercwc_cart .cart_list_OneBottle .wine_info .otherinfo{
        font-size: 18px;
        margin-top: 8px;
    }

    .member .membercwc_cart .cart_list_OneBottle .wine_info .otherinfo span{
        height: 12px;
        top: 0;
    }

    .member .membercwc_cart .cart_list_OneBottle .count_price{
        width: calc(40% - 40px - 16px);
        margin-left: 16px;
    }

    .member .membercwc_cart .cart_list_OneBottle .option_check{
        margin-top: 7px;
        left: -8px;
    }

    .member .membercwc_cart .proclaim{
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .member .membercwc_cart .confirm18{
        position: relative;
        right: unset;
        top: unset;
        margin-left: auto;
        margin-right: auto;
    }

}


